body{  
    background-color:#f3f4f5}  

h1{font-family: Arial; font-size: 24px; color: black;}
h2{font-family: Calibri; font-size: 20px; color:indianred}
p{font-family: Georgia; font-size: 18px; color:#757575}
ol{font-family:'Lucida Sans'; color: black}
ul{font-family:'Lucida Sans';color:black}